
@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    <title>

    </title>
</head>
<body>
    <div id="playerDiv" style="width: 100%; height: 100%; overflow: hidden; position: relative; background-color: black;"><video id="h5live-playerDiv" playsinline="true" style="background-color: black; width: 100%; height: 100%; position: absolute; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%) scaleX(1) scaleY(1) rotate(0deg);"><source src="blob:http://skyinplay99.com/5b44ff54-ac9c-4a86-a9fd-62a26af5621d"></video><div id="middleView-playerDiv" style="width: 122px; height: 122px; position: absolute; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); z-index: 1000;"><canvas id="audio-playerDiv" width="122" height="122" style="z-index: 1001;"></canvas></div></div>
    <script type="text/javascript">
        var streamData = {
            "streamName": "6DsXw-hj35W", "token": "", "options": "8", "tag": ""
        };</script>
    <script type="text/javascript">
        document.addEventListener('gesturestart', function (e) {
            e.preventDefault();
        });</script>
    <script src="~/Scripts/ttpp/player.js"></script>
    <script src="~/Scripts/ttpp/nmediaplayer.js"></script>
</body>
</html>